.heading
{
    color:blue;
    font-size: 40px;
    font-family: "Broadway"
    align:"center";
}

.description
{
    color: red;
    font-family: "Copperplate Gothic Bold";
    font-size: 24px
    align:"center";
}

.style1
{
    width: 200px;
    height: 600px;

}
.style2
{
    width:
}
.style3
{
    position: absolute;
    left: 1000px;
    top: 840px;
}
